<div class="dual-table-wrapper">
  <div class="ae-3 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>28 setembro</div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th>08:00</th>
          <td colspan="2"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>08:30 - 09:15</th>
          <td colspan="2" class="bg-color">COFFEE-WAKE</td>
        </tr>
        <tr class="slim-table-row">
          <th>09:15 - 10:00</th>
          <td colspan="2"><strong>Sessão de Abertura</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>10:00 - 11:00</th>
          <td>Sessão Plenária</td>
          <td>
            <strong>Abordagem de Patologia Anorretal</strong><br />
            <span style="font-size: 9px">Dr. João Carlos Silva</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>11:15 - 11:45</th>
          <td colspan="2" class="bg-color">COFFEE-BREAK</td>
        </tr>
        <tr class="slim-table-row">
          <th>11:45 - 12:45</th>
          <td colspan="2">
            <strong> Apresentação de Pósteres </strong>
            <div style="height: 1px; width: 100%; margin: 10px 0px"></div>
            <strong>GEMM Talk</strong><br />
            <span style="font-size: 9px">Dr.ª Helena Beça, Dr.ª Joana Monteiro</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>13:00 - 14:30</th>
          <td colspan="2" class="bg-color">ALMOÇO</td>
        </tr>
        <tr class="slim-table-row">
          <th>14:45 - 16:15</th>
          <td>Mesa Redonda</td>
          <td>
            <strong>Fibromialgia</strong><br />
            <span style="font-size: 9px">
              Dr.ª Celina Morais (MGF), Dr.ª Patrícia Pinto (Reumatologia), <br />
              Inês Pereira (Psicologia).
              <strong>Moderação:</strong> Prof. Doutora Luísa Sá
            </span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>16:15 - 16:30</th>
          <td colspan="2" class="bg-color">Intervalo</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">16:30 - 18:00</th>
          <td>Workshop 1</td>
          <td>
            <strong>Risco Cardiovascular e Dislipidemia - Casos Clínicos</strong><br />
            <span style="font-size: 9px">Dr.ª Carolina Teixeira</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <td>Workshop 2</td>
          <td>
            <strong>Comunicação - Desafios na Consulta</strong><br />
            <span style="font-size: 9px">Dr.ª Márcia Cordeiro</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <td>Workshop 3</td>
          <td>
            <strong>Dispositivos Inalatórios</strong><br />
            <span style="font-size: 9px">Dr. Bruno Silva</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ae-6 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>29 setembro</div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th>08:30</th>
          <td colspan="2"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="2">09:00 - 10:00</th>
          <td colspan="2"><strong>Apresentação de Comunicações Orais</strong></td>
        </tr>
        <tr class="slim-table-row">
          <td>Sessão Paralela</td>
          <td>
            <strong>Psicofármacos: Como Personalizar o Tratamento?</strong><br />
            <span style="font-size: 9px">Dr. Nuno Trovão</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>10:00 - 10:30</th>
          <td colspan="2"><strong>GEMM Quizz</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>10:30 - 11:00</th>
          <td colspan="2" class="bg-color">COFFEE-BREAK</td>
        </tr>
        <tr class="slim-table-row">
          <th>11:00 - 12:45</th>
          <td>Mesa Redonda</td>
          <td>
            <strong>Sistemas de Saúde em MGF: Diferentes Realidades</strong><br />
            <span style="font-size: 9px">
              Dr.ª Cátia Matos (Dinamarca), Dr.ª Sara Miranda (Nova Iorque, EUA), <br />
              Dr.ª Ana Luísa Neves (Inglaterra).
              <strong>Moderação:</strong> Prof. Doutor Paulo Santos
            </span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>12:45 - 13:15</th>
          <td colspan="2"><strong>Sessão de Encerramento</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>13:15 - 14:30</th>
          <td colspan="2" class="bg-color">ALMOÇO</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">14:30 - 16:00</th>
          <td>Workshop 4</td>
          <td>
            <strong>Dermatologia em Imagens Flash</strong><br />
            <span style="font-size: 9px">Dr. César Magalhães</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <td>Workshop 5</td>
          <td>
            <strong>Terapêuticas Injetáveis na Diabetes</strong><br />
            <span style="font-size: 9px">Dr.ª Ana Sá Sousa, Dr. Henrique Carmona</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <td>Workshop 6</td>
          <td>
            <strong>Exame Prático Final</strong><br />
            <span style="font-size: 9px">Dr.ª Daniela Saraiva, Dr.ª Inês Almeida, Dr.ª Teresa Andrade</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
