<div class="dual-table-wrapper">
  <div class="ae-3 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>26 setembro - <span class="primary-text-color"> Dia 1</span></div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th>08:00 - 09:00</th>
          <td colspan="3"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>09:00 - 09:30</th>
          <td colspan="3">Sessão da Abertura</td>
        </tr>
        <tr class="slim-table-row">
          <th>09:30 - 10:50</th>
          <td class="define-cell-borders">
            <strong>Sessão Paralela</strong> <br />
            Patologia Oral <br />
            <span class="smaller-text">Dr. António Costa</span>
          </td>
          <td colspan="2" class="define-cell-borders"><strong>Apresentação de Posters</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>11:00 - 11:30</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th>11:30 - 12:40</th>
          <td colspan="3">
            <strong> GEMM Talk: Otimização da experiência do utente </strong> <br />
            <span class="smaller-text">Eng. Inês Guedes</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>12:50 - 14:15</th>
          <td colspan="3" class="primary-color-cell">Almoço</td>
        </tr>
        <tr class="slim-table-row">
          <th>14:15 - 15:50</th>
          <td colspan="3">
            <strong>Mesa Redonda: Abordagem à Obesidade </strong> <br />
            <span class="smaller-text">Professor Dr. Themudo Barata (Medicina Interna e Medicina Desportiva), Drª Joana Menezes (Endocrinologia)</span> <br />
            <span class="smaller-text">Moderador: Drª Ana Vidal</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>16:00 - 16:30</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">16:30 - 18:00</th>
          <td>
            <strong>WS1</strong> <br />
            <span>Gestão de dor crónica</span> <br />
            <span class="smaller-text">Drª Mafalda Oliveira</span>
          </td>
          <td>
            <strong>WS2</strong> <br />
            <span>Dispositivos Inalatórios</span> <br />
            <span class="smaller-text">Dr. Luís Lázaro</span>
          </td>
          <td>
            <strong>WS3</strong> <br />
            <span>Risco CV e dislipidemias</span> <br />
            <span class="smaller-text">Drª Carolina Teixeira</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ae-6 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>27 setembro - <span class="primary-text-color"> Dia 2</span></div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th style="white-space: nowrap">08:15 - 08:30</th>
          <td colspan="3"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="1" style="white-space: nowrap">08:30 - 09:00</th>
          <td><strong>Abertura do Secretariado</strong></td>
          <td rowspan="2" colspan="2"><strong>Apresentação Comunicações Orais</strong></td>
        </tr>
        <tr>
          <th>09:00 - 10:00</th>
          <td>
            <strong>Sessão Paralela: Doenças (re)emergentes associadas à migração </strong> <br />
            <span class="smaller-text">Drª Lúcia Ribeiro</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>10:30 - 11:00</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th style="white-space: nowrap">11:00 - 12:45</th>
          <td colspan="3">
            <strong>Mesa Redonda: Patologias do Sono</strong> <br />
            <span class="smaller-text">Drª Maria Brandão (Pneumologia), Dr. Luís Ribeiro (Neurologia), Drª Andreia Certo (Psiquiatria)</span> <br />
            <span class="smaller-text">Moderador: Professora Drª Luisa Sá</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>12:55 - 13:30</th>
          <td colspan="3"><strong>Sessão de Encerramento</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>13:30 - 14:40</th>
          <td colspan="3" class="primary-color-cell">Almoço</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">14:40 - 16:10</th>
          <td>
            <strong>WS1</strong> <br />
            <span>Dermatologia em CSP</span> <br />
            <span class="smaller-text">Drª Joana Matos</span>
          </td>
          <td>
            <strong>WS2</strong> <br />
            <span>Nefrotestes e abordagem da patologia nefrológica</span> <br />
            <span class="smaller-text">Drª Joana Dias</span>
          </td>
          <td>
            <strong>WS3</strong> <br />
            <span>Exame prático</span> <br />
            <span class="smaller-text">Dr Leonardo Napoleão, Drª Teresa Vaz</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div style="width: 100%; margin-top: 40px; display: flex; justify-content: center">
    <div class="words-underlined">
      <div class="link-style">
        <h3 class="ae-7 fromBottom button-style smaller" (click)="downloadPDF()" style="cursor: pointer; font-weight: 600; margin: 0px !important">
          <fa-icon icon="file-pdf" style="margin-right: 5px; font-size: 80%"></fa-icon>
          Transferir Programa (PDF)
        </h3>
      </div>
    </div>
  </div>
</div>
