<div class="dual-table-wrapper">
  <div class="ae-3 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>28 setembro</div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th>08:00 - 09:00</th>
          <td colspan="3"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>09:00 - 09:30</th>
          <td colspan="3">Sessão da Abertura</td>
        </tr>
        <tr class="slim-table-row">
          <th>09:30 - 10:50</th>
          <td class="define-cell-borders">
            <strong>Sessão Paralela</strong> <br />
            Patologia Oral
          </td>
          <td colspan="2" class="define-cell-borders"><strong>Apresentação de Posters</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>11:00 - 11:30</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th>11:30 - 12:40</th>
          <td colspan="3">
            <strong> GEMM Talk </strong>
            <!-- <div style="height: 1px; width: 100%; margin: 10px 0px"></div>
            <strong>GEMM Talk</strong><br />
            <span class="smaller-text">Dr.ª Helena Beça, Dr.ª Joana Monteiro</span> -->
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>12:50 - 14:15</th>
          <td colspan="3" class="primary-color-cell">Almoço</td>
        </tr>
        <tr class="slim-table-row">
          <th>14:15 - 15:50</th>
          <td colspan="3">
            <strong>Mesa Redonda </strong><br />
            <span>Abordagem à Obesidade</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>16:00 - 16:30</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">16:30 - 18:00</th>
          <td>
            <strong>WS1</strong> <br />
            <span>Gestão de dor crónica</span>
          </td>
          <td>
            <strong>WS2</strong> <br />
            <span>Dispositivos Inalatórios</span>
          </td>
          <td>
            <strong>WS3</strong> <br />
            <span>Risco CV e dislipidemias</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ae-6 content-div">
    <div class="title"><fa-icon icon="calendar-day" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>29 setembro</div>
    <div class="mytable-wrapper">
      <table class="mytable">
        <tr class="slim-table-row">
          <th>08:15 - 08:30</th>
          <td colspan="3"><strong>Abertura do Secretariado</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="2">08:30 - 09:00</th>
          <td><strong>Abertura do Secretariado</strong></td>
          <td rowspan="2" colspan="2"><strong>Apresentação Comunicações Orais</strong></td>
        </tr>
        <tr class="slim-table-row">
          <td>
            <strong>Sessão Paralela </strong> <br />
            <span>Doenças (re)emergentes associadas à migração</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>10:30 - 11:00</th>
          <td colspan="3" class="primary-color-cell">Coffee-Break</td>
        </tr>
        <tr class="slim-table-row">
          <th>11:00 - 12:45</th>
          <td colspan="3">
            <strong>Mesa Redonda</strong><br />
            <span>Patologias do sono</span>
          </td>
        </tr>
        <tr class="slim-table-row">
          <th>12:55 - 13:30</th>
          <td colspan="3"><strong>Sessão de Encerramento</strong></td>
        </tr>
        <tr class="slim-table-row">
          <th>13:30 - 14:40</th>
          <td colspan="3" class="primary-color-cell">Almoço</td>
        </tr>
        <tr class="slim-table-row">
          <th rowspan="3">16:30 - 18:00</th>
          <td>
            <strong>WS1</strong> <br />
            <span>Gestão de dor crónica</span>
          </td>
          <td>
            <strong>WS2</strong> <br />
            <span>Dispositivos Inalatórios</span>
          </td>
          <td>
            <strong>WS3</strong> <br />
            <span>Risco CV e dislipidemias</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div style="width: 100%; margin-top: 40px; display: flex; justify-content: center">
    <div class="words-underlined">
      <div class="link-style">
        <h3 class="ae-7 fromBottom button-style smaller" (click)="downloadPDF()" style="cursor: pointer; font-weight: 600; margin: 0px !important">
          <fa-icon icon="file-pdf" style="margin-right: 5px; font-size: 80%"></fa-icon>
          Transferir Programa (PDF)
        </h3>
      </div>
    </div>
  </div>
</div>
