<div class="ae-3 gold-banner" style="width: 100%; box-shadow: 0px 0px 6px lightgrey; background-color: white; min-height: 100px; padding: 30px 20px; box-sizing: border-box; border-radius: 10px; overflow: hidden; margin: 10px 0px">
  <div class="content-card-title"><fa-icon icon="medal" style="margin-right: 10px" class="primary-text-color"></fa-icon>Patrocínios</div>
  <div class="sponsors-images-div">
    <div class="ae-6 banner-div">
      <div class="banner gold">GOLD</div>
    </div>
    <div class="ae-3 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/angelini.png" target="_blank" (click)="openSponsorLink('https://www.angelinipharma.pt/')" />
    </div>
    <div class="ae-7 banner-div">
      <div class="banner silver">SILVER</div>
    </div>
    <div class="ae-3 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/organon.png" target="_blank" (click)="openSponsorLink('https://www.organon.com/')" />
    </div>
    <div class="ae-4 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/Boehringer_Ingelheim_Logo.png" target="_blank" (click)="openSponsorLink('https://www.boehringer-ingelheim.pt/')" />
    </div>
    <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/FNAM.png" target="_blank" (click)="openSponsorLink('https://www.fnam.pt/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/eli-lilly.png" target="_blank" (click)="openSponsorLink('https://www.lilly.pt/')" />
    </div>
    <div class="ae-8 banner-div">
      <div class="banner bronze">BRONZE</div>
    </div>
    <div class="ae-3 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/joaquim_alves_saude.jpg" target="_blank" (click)="openSponsorLink('https://www.jcs.pt/')" />
    </div>
    <div class="ae-4 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/pfizer.svg" target="_blank" (click)="openSponsorLink('https://www.pfizer.pt/')" />
    </div>
    <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/baldacci.png" target="_blank" (click)="openSponsorLink('https://www.baldacci.pt/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/leo.png" target="_blank" (click)="openSponsorLink('https://www.leo-pharma.pt/')" />
    </div>
    <div class="ae-7 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/materfarma.png" target="_blank" (click)="openSponsorLink('https://www.materfarma.pt/')" />
    </div>
    <div class="ae-8 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/ferrer.png" target="_blank" (click)="openSponsorLink('https://www.ferrer.com/pt-pt/  ')" />
    </div>
    <div class="ae-9 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/grunenthal.png" target="_blank" (click)="openSponsorLink('https://www.grunenthal.pt/')" />
    </div>
    <div class="ae-10 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/viatris_milan.jpg" target="_blank" (click)="openSponsorLink('https://www.viatris.pt/')" />
    </div>
    <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/gsk.png" target="_blank" (click)="openSponsorLink('https://pt.gsk.com/pt-pt/home/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/astrazeneca.png" target="_blank" (click)="openSponsorLink('https://www.astrazeneca.pt/')" />
    </div>
    <div class="ae-7 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/lundbeck.png" target="_blank" (click)="openSponsorLink('https://www.lundbeck.com/pt')" />
    </div>
    <div class="ae-8 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/recordati.png" target="_blank" (click)="openSponsorLink('https://www.jaba-recordati.pt/')" />
    </div>
    <div class="ae-9 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/medinfar.png" target="_blank" (click)="openSponsorLink('https://www.medinfar.pt/')" />
    </div>

    <div class="ae-9 banner-div">
      <div class="banner others">APOIO INSTITUCIONAL</div>
    </div>

    <div class="ae-3 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/unidade_saude_espinho.png" target="_blank" (click)="openSponsorLink('https://www.ulsge.min-saude.pt/')" />
    </div>
    <div class="ae-4 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/camara_gaia.png" target="_blank" (click)="openSponsorLink('https://www.cm-gaia.pt/pt/')" />
    </div>
    <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/AGE.png" target="_blank" (click)="openSponsorLink('https://www.instagram.com/associacaomedicagaiaespinho/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/municipio-espinho.jpg" target="_blank" (click)="openSponsorLink('https://portal.cm-espinho.pt/pt/')" />
    </div>

    <div class="ae-10 banner-div">
      <div class="banner others">APOIO CIENTÍFICO</div>
    </div>

    <div class="ae-4 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/apmgf.png" target="_blank" (click)="openSponsorLink('https://apmgf.pt/')" />
    </div>

    <div class="ae-10 banner-div">
      <div class="banner others">PARCERIAS</div>
    </div>

    <div class="ae-3 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/AGE.png" target="_blank" (click)="openSponsorLink('https://www.instagram.com/associacaomedicagaiaespinho/')" />
    </div>
    <div class="ae-4 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/aimgf.png" target="_blank" (click)="openSponsorLink('https://aimgfzonanorte.pt/')" />
    </div>
    <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/dioscope.png" target="_blank" (click)="openSponsorLink('https://learning.dioscope.com/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/medproof.webp" target="_blank" (click)="openSponsorLink('https://www.medproof.pt/')" />
    </div>
    <div class="ae-7 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/sim.png" target="_blank" (click)="openSponsorLink('https://www.simedicos.pt/pt/')" />
    </div>
    <div class="ae-8 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/ocean_medical.png" target="_blank" (click)="openSponsorLink('https://www.ocean-medical.com/')" />
    </div>
    <div class="ae-9 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/lidel.png" target="_blank" (click)="openSponsorLink('https://www.lidel.pt/')" />
    </div>
    <div class="ae-10 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/adhara.png" target="_blank" (click)="openSponsorLink('https://adhara.academy/')" />
    </div>

    <!-- old unused sponsors -->
    <!-- <div class="ae-5 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/tecnifar.png" target="_blank" (click)="openSponsorLink('https://tecnifar.pt/')" />
    </div>
    <div class="ae-9 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/tecnimede.png" target="_blank" (click)="openSponsorLink('https://www.tecnimede.com/')" />
    </div>
    <div class="ae-6 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/servier.png" target="_blank" (click)="openSponsorLink('https://www.servier.pt/')" />
    </div>
    <div class="ae-7 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/bial.jpg" target="_blank" (click)="openSponsorLink('https://www.bial.com/pt/')" />
    </div>
    <div class="ae-10 image-div" style="max-width: 150px !important">
      <img class="hover-scale" src="./assets/images/sponsors/ipp.jpg" target="_blank" (click)="openSponsorLink('https://www.inspsic.pt/')" />
    </div> -->
  </div>
  <!-- <div class="ae-9 content-card-title" style="font-size: 70%"><fa-icon icon="circle" style="margin-right: 7px; font-size: 7px; vertical-align: top" class="primary-text-color"></fa-icon>Com o patrocínio científico:</div>
  <div class="sponsors-images-div" style="padding-top: 5px">
    <div class="ae-10 image-div">
      <img class="hover-scale" src="./assets/images/sponsors/apmgf.png" target="_blank" (click)="openSponsorLink('https://apmgf.pt/')" />
    </div>
  </div> -->
</div>
