<div class="fullscreen-hamburger-wrapper" [ngClass]="{ 'close-hamburger-animation': animateHamburgerClosing }" *ngIf="hamburgerOpen">
  <div class="hamburger-content">
    <div class="animate-div wait100ms">
      <div class="menu-item" (click)="menuClick('#home')" (keyup.enter)="menuClick('#home')">
        <span [tabIndex]="3">As Jornadas</span>
      </div>
    </div>
    <div class="animate-div wait200ms">
      <div class="menu-item" (click)="menuClick('#equipa')" (keyup.enter)="menuClick('#equipa')">
        <span [tabIndex]="4">A Equipa</span>
      </div>
    </div>
    <div class="animate-div wait300ms">
      <div class="menu-item" (click)="menuClick('#programa')" (keyup.enter)="menuClick('#programa')">
        <span [tabIndex]="5">Programa</span>
      </div>
    </div>
    <div class="animate-div wait400ms">
      <div class="menu-item" (click)="menuClick('#inscricoes')" (keyup.enter)="menuClick('#inscricoes')">
        <span [tabIndex]="6">Inscrições</span>
      </div>
    </div>
    <div class="animate-div wait500ms">
      <div class="menu-item" (click)="menuClick('#abstracts')" (keyup.enter)="menuClick('#abstracts')">
        <span [tabIndex]="7">Resumos</span>
      </div>
    </div>
    <div class="animate-div wait600ms">
      <div class="menu-item" (click)="menuClick('#faqs')" (keyup.enter)="menuClick('#faqs')">
        <span [tabIndex]="8">FAQs</span>
      </div>
    </div>
    <div class="animate-div wait700ms">
      <div class="menu-item" (click)="menuClick('#sponsors')" (keyup.enter)="menuClick('#sponsors')">
        <span [tabIndex]="9">Patrocínios</span>
      </div>
    </div>
    <div class="animate-div wait800ms">
      <div class="menu-item" (click)="menuClick('#contactos')" (keyup.enter)="menuClick('#contactos')">
        <span [tabIndex]="10">Contactos</span>
      </div>
    </div>
  </div>
</div>

<!-- Panel Top #05 -->
<div class="panel top" [ngClass]="{ 'hidden-by-scroll': hideTopBar }">
  <div class="sections desktop">
    <div class="left" style="display: flex; flex: 1 1 100px; width: auto">
      <div class="logo-div">
        <div class="logo-slideover-div"></div>
        <img [tabIndex]="1" src="./assets/images/gemeeting-logo-only.png" alt="Gemeeting Logo" style="cursor: pointer" (click)="menuClick('#home')" (keyup.enter)="menuClick('#home')" />
      </div>
    </div>
    <div class="center" style="flex: 2 2 100px">
      <ul class="menu" *ngIf="showMenu">
        <li class="animate-div wait100ms"><a href="#home">As Jornadas</a></li>
        <li class="animate-div wait200ms"><a href="#equipa">A Equipa</a></li>
        <li class="animate-div wait300ms"><a href="#programa">Programa</a></li>
        <li class="animate-div wait400ms"><a href="#inscricoes">Inscrições</a></li>
        <li class="animate-div wait500ms"><a href="#abstracts">Resumos</a></li>
        <li class="animate-div wait600ms"><a href="#faqs">FAQs</a></li>
        <li class="animate-div wait700ms"><a href="#sponsors">Patrocínios</a></li>
        <li class="animate-div wait800ms"><a href="#contactos">Contactos</a></li>
      </ul>
    </div>
    <div class="center-burger" style="flex: 2 2 50px">
      <div class="burger">
        <div [tabIndex]="2" class="burger-icon animate-div fromTop" *ngIf="!hamburgerOpen" (click)="openHamburger()" (keyup.enter)="openHamburger()">
          <fa-icon style="font-size: 25px" icon="bars"></fa-icon>
        </div>
        <div [tabIndex]="2" class="burger-icon animate-div fromTop" *ngIf="hamburgerOpen" (click)="closeHamburger()" (keyup.enter)="closeHamburger()">
          <fa-icon style="font-size: 25px" icon="times"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide 1 (#34) -->
<section class="slide fade-6 kenBurns" data-name="home">
  <div class="content">
    <div class="container">
      <div class="wrap" id="content-home">
        <div class="center-content-div ae-1 fromAbove">
          <img src="./assets/images/gemmeeting-logo-full.png" alt="Gemeeting Logo" style="width: 100%; max-width: 450px; margin-bottom: 20px" />
          <div style="width: 100%" class="words-underlined no-underline">
            <h3 class="ae-4 fromBottom align-center"><fa-icon icon="calendar-days" style="margin-right: 10px; font-size: 80%"></fa-icon>26 e 27 de Setembro 2024</h3>
          </div>
          <div style="width: 100%; margin-top: 20px" class="words-underlined no-underline">
            <h3 class="ae-5 fromBottom align-center"><fa-icon icon="users" style="margin-right: 10px; font-size: 80%"></fa-icon>Formato Presencial</h3>
          </div>
          <div style="width: 100%; margin-top: 20px" class="words-underlined">
            <h3 class="ae-6 fromBottom button-style link-style" (click)="openGoogleMapsLink()" matTooltip="Consultar localização no Google Maps" style="cursor: pointer">
              <fa-icon icon="location-dot" style="margin-right: 10px; font-size: 80%"></fa-icon>FACE Espinho
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background" id="intro-background-backup">
    <img src="./assets/images/background/espinho-above.jpg" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 2 (#60) -->
<section class="slide fade-6 kenBurns" data-name="equipa">
  <div class="content">
    <div class="container">
      <div class="wrap" id="content-equipa">
        <!-- temporario -->
        <div class="fix-10-12">
          <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
            <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
              <app-content-novidades-em-breve></app-content-novidades-em-breve>
            </li>
          </ul>
        </div>
        <!-- temporario -->

        <!-- <div class="center-content-div ae-1 fromAbove" style="max-width: 1600px !important; padding-top: 10vh !important">
          <div class="fix-10-12" style="max-width: 1600px !important">
            <ul class="grid grid-83 noSpaces equal" style="display: flex; justify-content: center; align-items: center">
              <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
                <app-tab-equipa></app-tab-equipa>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_1.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 2 (#60) -->
<section class="slide fade-6 kenBurns" data-name="programa">
  <div class="content">
    <div class="container">
      <div class="wrap" id="content-programa">
        <!-- temporario -->
        <div class="fix-10-12">
          <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
            <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
              <app-content-novidades-em-breve></app-content-novidades-em-breve>
            </li>
          </ul>
        </div>
        <!-- temporario -->
        <!-- <div class="center-content-div ae-2 fromAbove" style="max-width: 1600px !important">
          <div class="fix-10-12" style="color: black; max-width: 1600px !important">
            <app-tab-programa></app-tab-programa>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_2.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 3 (#27) -->
<section class="slide fade-6 kenBurns" data-name="inscricoes">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="center-content-div ae-2 fromAbove">
          <div class="fix-10-12">
            <ul class="grid grid-83 noSpaces equal" style="display: flex; justify-content: center; align-items: center">
              <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
                <!-- <app-tab-inscricoes></app-tab-inscricoes> -->
                <app-content-novidades-em-breve></app-content-novidades-em-breve>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_1.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 4 -->
<section class="slide fade-6 kenBurns" data-name="abstracts">
  <div class="content">
    <div class="container">
      <div class="wrap" id="content-abstracts">
        <div class="center-content-div ae-2 fromAbove">
          <div class="fix-10-12">
            <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
              <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
                <!-- <app-tab-resumos></app-tab-resumos> -->
                <app-content-novidades-em-breve></app-content-novidades-em-breve>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_2.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 5 -->
<section class="slide fade-6 kenBurns" data-name="faqs">
  <div class="content">
    <div class="container">
      <div class="wrap" id="content-faqs">
        <div class="center-content-div ae-2 fromAbove">
          <div class="fix-10-12">
            <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
              <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
                <!-- <app-tab-faqs></app-tab-faqs> -->
                <app-content-novidades-em-breve></app-content-novidades-em-breve>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_1.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 6 -->
<section class="slide fade-6 kenBurns" data-name="sponsors">
  <div class="content">
    <div class="container">
      <div class="wrap spaceWrap" id="content-sponsors">
        <!-- temporario -->
        <div class="fix-10-12">
          <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
            <li class="col-4-12 ae-3 fromAbove" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
              <app-content-novidades-em-breve></app-content-novidades-em-breve>
            </li>
          </ul>
        </div>
        <!-- temporario -->
        <!-- <div class="center-content-div ae-2 fromAbove" style="max-width: 1400px !important">
          <div class="fix-10-12" style="max-width: 1400px !important">
            <app-tab-patrocinios></app-tab-patrocinios>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_2.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Slide 7 -->
<section class="slide fade-6 kenBurns" data-name="contactos">
  <div class="content">
    <div class="container" style="flex-direction: column !important">
      <div class="wrap">
        <div class="center-content-div ae-2 fromAbove">
          <div class="fix-10-12">
            <ul class="grid grid-83 noSpaces equal ae-3" style="display: flex; justify-content: center; align-items: center">
              <li class="col-4-12 ae-3 fromBottom" style="background-color: white; box-shadow: 0px 0px 6px lightgrey; border-radius: 10px; margin: 5px; flex: 1 1 100%; min-height: 250px; max-width: 100%">
                <app-tab-contactos></app-tab-contactos>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: center">
        <span style="font-size: 10px; color: darkslategrey"
          >Criado por <a href="https://www.linkedin.com/in/eduardoxcorreia/" style="text-decoration: underline" matTooltip="Visitar perfil">Eduardo Correia</a> para GEMmeeting | © Copyright GEMmeeting 2023</span
        >
      </div>
    </div>
  </div>
  <div class="background">
    <img src="./assets/images/background/sky_h_azul_1.png" alt="" style="object-fit: cover; width: 100%; height: 100%; opacity: 0.2" />
  </div>
</section>

<!-- Loading Progress Bar -->
<div class="progress-bar blue"></div>
