@use './custom-colors-theme' as color-theme;

.close-hamburger-animation {
  animation: 0.3s ease-out slideDownFadeIn reverse forwards !important;

  .hamburger-content {
    animation: 0.3s ease-out zoomOut forwards !important;
  }
}

// hamburger menu div
.fullscreen-hamburger-wrapper {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: 0.3s ease-out zoomInFadeIn forwards;

  @media only screen and (max-height: 700px) {
    align-items: flex-end;
  }

  .hamburger-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: 0.3s ease-out slideDownFadeIn 0.1s forwards !important;

    .animate-div {
      width: 100%;
    }

    .menu-item {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      margin: 10px 0px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      font-weight: 600;
      color: #4e4e4e;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transform: scale(1);
      transition: 0.4s all;

      &:hover,
      &:focus,
      &:focus-within {
        background-color: rgba(255, 255, 255, 0.95);
        text-shadow: 2px 2px 4px rgb(255, 238, 0);
        color: black;
        transform: scale(1.03);
        transition: 0.2s all;
      }

      &:active {
        transform: scale(0.97);
        transition: 0.1s all;
      }
    }
  }
}

.panel.top {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 80px !important;
  color: black;
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s ease-out all;

  &.hidden-by-scroll {
    transform: translateY(-80px);
    opacity: 0;
  }

  .logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 50px;
    width: 100%;
    max-width: 150px;

    .logo-slideover-div {
      z-index: 100;
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      max-width: 400px;
      background-color: #f7e71e;
      animation: 5s animatedLogoDiv forwards;
      animation-delay: 1.5s;
    }

    img {
      width: 100%;
      max-width: 150px;
      height: 70px;
      object-fit: contain;
      opacity: 0;
      animation: 5s fadeInAnimation forwards;
      animation-delay: 1.5s;
    }
  }

  .center {
    display: inline-table !important;
  }

  .center-burger {
    display: none !important;
    justify-content: flex-end;
    align-items: center;

    .burger {
      transform: scale(1);
      transition: 0.4s all;
      width: fit-content;

      &:hover,
      &:focus,
      &:focus-within {
        transform: scale(1.1);
        transition: 0.2s all;
      }

      &:active {
        transform: scale(1);
        transition: 0.2s all;
      }

      .burger-icon {
        width: 50px;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.6s all;

        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.05);
          transition: 0.2s all;
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    .center {
      display: none !important;
    }
    .center-burger {
      display: flex !important;
    }
  }
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3 !important;
}

.animated-gradient-text {
  background-color: linear-gradient(-45deg, black, #9e01ff, rgb(255, 94, 0), #9e01ff);
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text_gradient 10s infinite;
  -moz-animation: animated_text_gradient 10s infinite;
  -webkit-animation: animated_text_gradient 10s infinite;
}

.slide {
  background: transparent !important;
}
