<div class="content-card-title ae-3" style="margin-bottom: 40px; margin-top: 10px; font-weight: 700">
  <fa-icon icon="users" style="margin-right: 15px" class="primary-text-color"></fa-icon>Equipa <span class="primary-text-color">GEMMeeting</span>
</div>
<!-- <div class="content-card-title subtitle ae-3" style="margin-bottom: 40px"><fa-icon icon="user-tie" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>Presidência</div> -->
<div class="equipa-photos-wrapper">
  <div class="ae-3 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/1.png" />
  </div>
</div>

<div class="equipa-photos-wrapper">
  <div class="ae-4 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/2.png" />
  </div>
</div>

<div class="equipa-photos-wrapper">
  <div class="ae-5 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/3.png" />
  </div>
</div>

<div class="equipa-photos-wrapper">
  <div class="ae-6 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/4.png" />
  </div>
</div>

<div class="equipa-photos-wrapper">
  <div class="ae-7 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/5.png" />
  </div>
</div>

<div class="equipa-photos-wrapper">
  <div class="ae-8 equipa-photos-div">
    <img class="equipa-photo-img" src="./assets/images/users-images/6.png" />
  </div>
</div>
