.content-card-title {
  font-size: 32px;

  @media only screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.equipa-photos-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;

  .equipa-photos-div {
    flex: 1 1 100%;
    max-width: 1200px;
    background-color: white;

    .equipa-photo-img {
      object-fit: contain;
      width: 100%;
    }
  }
}
