<div style="display: flex; flex-direction: column">
  <div class="content-card-title"><fa-icon icon="question-circle" style="margin-right: 10px" class="primary-text-color"></fa-icon>Perguntas Frequentes (FAQs)</div>

  <div class="ae-9" style="width: 100%; display: flex; justify-content: flex-end; margin-top: 20px; margin-bottom: 10px">
    <button *ngIf="!expandAllFaqs" mat-stroked-button (click)="expandRetractAllFaqs()"><fa-icon icon="up-right-and-down-left-from-center" style="margin-right: 10px; color: #a9d3fa"></fa-icon>Expandir Tudo</button>
    <button *ngIf="expandAllFaqs" mat-stroked-button (click)="expandRetractAllFaqs()"><fa-icon icon="down-left-and-up-right-to-center" style="margin-right: 10px; color: #a9d3fa"></fa-icon>Colapsar Tudo</button>
  </div>

  <div class="ae-8 fromBottom" style="text-align: left; font-weight: 500">
    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">1. </span> Onde e quando vai decorrer o GEMMeeting 2024? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          O GEMMeeting 2023 decorrerá nos dias <strong>26 e 27 de setembro de 2024</strong>, em formato <strong>exclusivamente presencial</strong>, no <strong>Fórum de Arte e Cultura (FACE) de Espinho</strong>.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">2.</span> Qual é o programa do congresso? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">Poderá consultar o programa <a href="#programa" class="link-style underline">clicando aqui</a>.</div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">3.</span> A quem se destina? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          O evento é direcionado a médicos especialistas e internos de Medicina Geral e Familiar. No entanto, todos os profissionais de saúde são bem-vindos, incluindo médicos especialistas e internos de outras especialidades, médicos
          indiferenciados, internos de formação geral e estudantes de medicina.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">4.</span> Como me posso inscrever? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          Pode inscrever-se <a (click)="openInscricoesLink()" class="link-style underline">clicando aqui</a>. Será redirecionado para uma página da Eventkey, e deverá preencher o formulário e seguir as instruções. Após inscrição no evento
          receberá um email de confirmação da mesma.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">5.</span> Qual o preço da inscrição e o que está incluído? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          A inscrição tem um custo único de 30 euros e dá acesso a: <br />
          <div style="display: flex; justify-content: flex-start; align-items: center">
            <fa-icon icon="circle" style="font-size: 6px; margin-right: 5px; vertical-align: middle" class="primary-text-color"></fa-icon>
            <span>Mesas redondas, sessões plenárias, sessões paralelas, GEMM Talks e apresentações de trabalhos;</span>
          </div>
          <div style="display: flex; justify-content: flex-start; align-items: center">
            <fa-icon icon="circle" style="font-size: 6px; margin-right: 5px; vertical-align: middle" class="primary-text-color"></fa-icon>
            <span>Três coffee-breaks e dois almoços contemplados no programa;</span>
          </div>
          <div style="display: flex; justify-content: flex-start; align-items: center">
            <fa-icon icon="circle" style="font-size: 6px; margin-right: 5px; vertical-align: middle" class="primary-text-color"></fa-icon>
            <span>Um workshop (WS) à escolha (vagas limitadas a 25 participantes por WS);</span>
          </div>
          <div style="display: flex; justify-content: flex-start; align-items: center">
            <fa-icon icon="circle" style="font-size: 6px; margin-right: 5px; vertical-align: middle" class="primary-text-color"></fa-icon>
            <span>Certificado de presença, após validação das presenças;</span>
          </div>
          <div style="display: flex; justify-content: flex-start; align-items: center">
            <fa-icon icon="circle" style="font-size: 6px; margin-right: 5px; vertical-align: middle" class="primary-text-color"></fa-icon>
            <span>Oportunidade de apresentação de trabalhos em formato de comunicação oral ou póster, mediante submissão e seleção dos mesmos.</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">6.</span> Como é feita a seleção para os workshops? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          Cada participante poderá participar em um WS, que será escolhido consoante disponibilidade de vaga no processo de inscrição. Há um limite de 25 vagas por WS, que serão preenchidas por ordem de inscrição.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">7.</span> Como será realizado o controlo de presenças? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          O controlo de presenças será efetuado sempre no secretariado do evento, e decorrerá em dois momentos, sendo necessário um controlo de presenças por dia. Para cada WS será realizado um controlo de presenças de acordo com a lista
          dos participantes inscritos no mesmo.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">8.</span> Como posso obter o certificado de presença? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          Para obter o certificado de presença do GEMMeeting 2024, será necessário presença em ambos os dias de congresso (ver ponto 6). Será emitido um certificado de presença adicional para a participação em WS, conforme as presenças
          registadas. Os certificados de presença no GEMMeeting 2024 e no WS serão enviados para o e-mail associado à inscrição, após validação das presenças.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">9.</span> Quando decorrerão as apresentação de trabalhos selecionados? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          A apresentação dos posters selecionados será efetuada na manhã do dia 26/09/2024 e a apresentação das comunicações orais na manhã do dia 27/09/2024. Estas serão realizadas presencialmente.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">10.</span> Como chegar ao local do evento? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          O <strong>FACE Espinho</strong> é facilmente acessível de carro. Existe estacionamento gratuito no local e nas imediações. Também poderá chegar ao local do evento através de transportes públicos, sendo o ponto de ligação mais
          próximo a
          <a class="words-underlined link-style" style="display: inline-block" href="https://www.cp.pt/passageiros/pt/consultar-horarios/estacoes/espinho" target="_blank" matTooltip="Consultar a estação">estação de comboios</a>
          de Espinho, que se encontra a menos de 10 minutos a pé (~ 500 m).
        </div>

        <div style="display: flex; flex-wrap: nowrap; justify-content: center; align-items: center; margin-bottom: 10px; margin-top: 20px">
          <fa-icon icon="location-pin" style="font-size: 20px; margin-right: 10px" class="primary-text-color"></fa-icon>
          <a class="link-style" style="cursor: pointer; font-size: 16px" (click)="openGoogleMapsLink()">Ver o FACE Espinho no Google Maps</a>
        </div>

        <div style="display: flex; width: 100%; justify-content: center; align-items: center; margin-bottom: 20px">
          <img
            class="location-image-map"
            (click)="openGoogleMapsLink()"
            src="./assets/images/google_maps_face.png"
            alt="Localização do FACE Espinho no Google Maps"
            style="cursor: pointer; margin: 20px !important"
            matTooltip="Ver o FACE Espinho no Google Maps" />
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <span class="primary-text-color" style="margin-right: 10px">11.</span> Como irão decorrer os almoços? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          Os almoços estão incluídos no valor da inscrição no evento e será servido no espaço do evento. Caso não deseje almoçar no evento, existem também diversos restaurantes nas imediações.
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="expandAllFaqs">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 700"> <fa-icon icon="question-circle" style="margin-right: 5px" class="primary-text-color"></fa-icon> Tem outras dúvidas/perguntas não mencionadas? </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 16px; line-height: 1.4">
          <span>Pode entrar em contacto com a comissão organizadora através de e-mail ou redes sociais:</span>

          <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px; margin-top: 20px">
            <img src="./assets/images/facebook.webp" alt="" style="height: 20px; margin-right: 12px; margin-left: 3px" />
            <a class="link-style" href="https://www.facebook.com/gemmeeting" target="_blank">{{ '@gemmeeting' }}</a>
          </div>
          <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px">
            <img src="./assets/images/instagram.webp" alt="" style="height: 20px; margin-right: 12px; margin-left: 3px" />
            <a class="link-style" href="https://www.instagram.com/gemmeeting24/" target="_blank">{{ '@gemmeeting24' }}</a>
          </div>
          <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px">
            <fa-icon icon="envelope" style="font-size: 20px; margin-right: 10px" class="primary-text-color"></fa-icon>
            <a class="link-style" href="mailto:gemmeeting@gmail.com">{{ 'gemmeeting@gmail.com' }}</a>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div style="width: 100%; margin-top: 40px; display: flex; justify-content: center">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style smaller" (click)="downloadPDF()" style="cursor: pointer; font-weight: 600; margin: 0px !important">
        <fa-icon icon="file-pdf" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Transferir FAQs (PDF)
      </h3>
    </div>
  </div>
</div>
