<div style="display: flex; flex-direction: column">
  <div class="content-card-title"><fa-icon icon="file-pen" style="margin-right: 10px" class="primary-text-color"></fa-icon>Inscrições</div>
  <div class="ae-5 fromBottom" style="font-size: 20px; margin-top: 60px; text-align: center; line-height: 1.4; font-weight: 500">
    <fa-icon icon="user-check" style="font-size: 20px; height: 22px; margin-right: 10px" class="primary-text-color"></fa-icon>
    <strong>Garante já o teu lugar no GEMMeeting!</strong>
  </div>
</div>
<div style="width: 100%; margin-top: 20px; display: flex; justify-content: center">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style" (click)="openInscricoesLink()" style="cursor: pointer; font-weight: 600; margin: 0px !important">
        <fa-icon icon="pen-square" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Inscreve-te aqui
      </h3>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 50px">
  <div class="ae-5 fromBottom" style="font-size: 20px; text-align: center; line-height: 1.4; font-weight: 500; border-radius: 10px; background-color: rgb(255, 233, 137); padding: 20px 40px; box-sizing: border-box">
    <fa-icon icon="file-lines" style="font-size: 20px; height: 22px; margin-right: 5px"></fa-icon>
    <strong>Submete ainda o teu resumo e habilita-te aos nossos prémios!</strong>
    <div style="margin: 10px 0px"></div>
    <span style="font-size: 90%">Consulta mais informações no <a href="/#abstracts" class="link-style" style="white-space: nowrap"> menu "Resumos".</a></span>
  </div>
</div>
