<div style="display: flex; flex-direction: column">
  <div class="content-card-title"><fa-icon icon="file-pen" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>Inscrições</div>
  <div class="ae-5 fromBottom" style="font-size: 20px; margin-top: 50px; text-align: center; line-height: 1.4; font-weight: 500">
    <fa-icon icon="circle" style="font-size: 6px; margin-right: 10px; vertical-align: middle" class="primary-text-color"></fa-icon>
    <strong>Garante já o teu lugar no GEMMeeting!</strong>
  </div>
</div>
<div style="width: 100%; margin-top: 20px; display: flex; justify-content: center">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style" (click)="openInscricoesLink()" style="cursor: pointer; font-weight: 600; font-size: 24px; margin: 0px !important">
        <fa-icon icon="user-pen" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Inscreve-te aqui
      </h3>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: column">
  <div class="ae-5 fromBottom" style="font-size: 20px; margin-top: 50px; text-align: center; line-height: 1.4; font-weight: 500">
    <fa-icon icon="circle" style="font-size: 6px; margin-right: 10px; vertical-align: middle" class="primary-text-color"></fa-icon>
    <strong>Submete ainda o teu resumo e habilita-te aos nossos prémios!</strong> <br />
    <span style="font-size: 90%">Consulta primeiro as regras de submissão no separador "Resumos".</span>
  </div>
</div>

<div style="width: 100%; margin-top: 20px; display: flex; justify-content: center">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style" (click)="openSubmitAbstractLink()" style="cursor: pointer; font-weight: 600; font-size: 24px; margin: 0px !important">
        <fa-icon icon="file-upload" style="margin-right: 5px; font-size: 90%"></fa-icon>
        Submeter resumo
      </h3>
    </div>
  </div>
</div>
