<div style="display: flex; flex-direction: column">
  <div class="content-card-title"><fa-icon icon="file-pen" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>Inscrições</div>
  <div class="ae-5 fromBottom" style="font-size: 20px; margin-top: 50px; text-align: center; line-height: 1.4; font-weight: 500">
    <br />
    <fa-icon icon="circle" style="font-size: 6px; margin-right: 10px; vertical-align: middle" class="primary-text-color"></fa-icon><strong>Abertura de Inscrições:</strong> <span style="color: rgb(122, 158, 194)"> 26/05/2023</span> às
    <span style="color: rgb(122, 158, 194)"> 21h00</span>
  </div>
</div>
<div style="width: 100%; margin-top: 60px; display: flex; justify-content: center" class="ae-6 fromBottom">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style" (click)="openInscricoesLink()" style="cursor: pointer; font-weight: 600; font-size: 24px; margin: 0px !important">
        <fa-icon icon="user-pen" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Inscreve-te
      </h3>
    </div>
  </div>
</div>
