.location-image-map {
  width: 100%;
  min-height: 300px;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px lightgrey;
  object-fit: cover;
}

.contacts-content-div {
  margin: 80px 0px;
  text-align: left;
  line-height: 1.4;
  font-weight: 500;
  width: 100%;
  max-width: 800px;
  font-size: 20px;

  @media only screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}
