<div style="display: flex; flex-direction: column; align-items: center">
  <div class="content-card-title"><fa-icon icon="phone" style="font-size: 80%; margin-right: 10px; vertical-align: top" class="primary-text-color"></fa-icon>Contactos</div>
  <div class="contacts-content-div">
    <div class="ae-4" style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px">
      <img src="./assets/images/facebook.webp" alt="" style="height: 24px; margin-right: 12px; margin-left: 3px" />
      <a class="link-style" href="https://www.facebook.com/gemmeeting">@gemmeeting</a>
    </div>
    <div class="ae-5" style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px">
      <img src="./assets/images/instagram.webp" alt="" style="height: 24px; margin-right: 12px; margin-left: 3px" />
      <a class="link-style" href="https://www.instagram.com/gemmeeting23/">@gemmeeting23</a>
    </div>
    <div class="ae-6" style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center; margin-bottom: 20px">
      <fa-icon icon="envelope" style="font-size: 24px; margin-right: 10px" class="primary-text-color"></fa-icon>
      <a class="link-style" href="mailto:gemmeeting@gmail.com">gemmeeting@gmail.com</a>
    </div>

    <div class="ae-7" style="display: flex; width: 100%; justify-content: center; align-items: center; margin-top: 20px">
      <img
        class="location-image-map"
        (click)="openGoogleMapsLink()"
        src="./assets/images/google_maps_face.png"
        alt="Localização do FACE Espinho no Google Maps"
        style="cursor: pointer"
        matTooltip="Ver o FACE Espinho no Google Maps"
        matTooltipPosition="above" />
    </div>
    <div class="ae-8" style="display: flex; flex-wrap: nowrap; justify-content: center; align-items: center">
      <fa-icon icon="location-pin" style="font-size: 24px; margin-right: 10px" class="primary-text-color"></fa-icon>
      <a class="link-style" href="#" (click)="openGoogleMapsLink()">FACE Espinho, R. 41, Av. São João de Deus, 4500-386 Espinho</a>
    </div>
  </div>
</div>

<div style="width: 100%; display: flex; justify-content: center" class="ae-9 fromBottom">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-10 fromBottom button-style" (click)="openInscricoesLink()" style="cursor: pointer; font-weight: 600; font-size: 24px; margin: 0px !important">
        <fa-icon icon="user-pen" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Inscreve-te
      </h3>
    </div>
  </div>
</div>
