@use "./custom-colors-theme" as color-theme;

.main-div {
  color: #333;
  font-size: 70px;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 450px;
  pointer-events: none;
  display: flex;

  @media screen and (max-width: 800px) {
    font-size: 28px;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.message {
  width: fit-content;
  color: #af01ff;
  position: absolute;
  padding-left: 20px;
  left: 0px;
  animation: openclose 10s ease-in-out infinite;
  overflow: visible;
  z-index: 0;
  text-indent: 8px;
  font-weight: 600;

  @media screen and (max-width: 800px) {
    left: 40px;
    text-indent: 3px;
  }

  &.inverted {
    overflow: hidden;
    background-color: yellow;
    color: black;
    z-index: 5;
  }
}

@keyframes openclose {
  0% {
    top: 0;
    width: 0;
  }
  15% {
    width: 100%;
  }
  30% {
    top: 0;
    width: 100%;
  }
  33% {
    top: 0;
    width: 0;
  }
  35% {
    top: 0;
    width: 0;
  }
  38% {
    top: -2.8ex;
    width: 0;
  }
  48% {
    top: -2.8ex;
    width: 100%;
  }
  62% {
    top: -2.8ex;
    width: 100%;
  }
  66% {
    top: -2.8ex;
    width: 0;
  }
  71% {
    top: -5.7ex;
    width: 0;
  }
  86% {
    top: -5.7ex;
    width: 100%;
  }
  95% {
    top: -5.7ex;
    width: 100%;
  }
  98% {
    top: -5.7ex;
    width: 0;
  }
  100% {
    top: 0;
    width: 0;
  }
}