<div style="display: flex; flex-direction: column">
  <div class="content-card-title"><fa-icon icon="file-pen" style="margin-right: 10px" class="primary-text-color"></fa-icon>Normas de Submissão</div>
  <div class="ae-6 fromBottom" style="margin-top: 40px; text-align: left; font-weight: 500">
    <p class="normas-submissao-header">Os Resumos das Comunicações Orais e Pósteres deverão ser submetidos na plataforma disponível no website, obedecendo às seguintes regras:</p>
    <div style="max-height: 50vh; overflow-y: auto; border-radius: 10px; box-shadow: inset 0px 0px 6px lightgrey; padding: 10px; box-sizing: border-box; margin-top: 20px">
      <ol class="list-normas-submissao">
        <li><span class="primary-text-color">1.</span> Devem ser preenchidos <strong>todos</strong> os campos do formulário.</li>
        <li>
          <span class="primary-text-color">2.</span> O <strong>apresentador não terá de estar obrigatoriamente inscrito no GEMMeeting</strong> para poder submeter o seu resumo. Após a divulgação dos trabalhos seleccionados, o apresentador
          terá 7 dias para se inscrever.
        </li>
        <li><span class="primary-text-color">3.</span> Na escolha do/a apresentador/a, deve ser tido em conta que todas as apresentações serão realizadas presencialmente no local de realização do Congresso.</li>
        <li><span class="primary-text-color">4.</span> Apenas se autoriza a submissão de trabalhos de médicos e/ou estudantes de Medicina.</li>
        <li>
          <span class="primary-text-color">5.</span> É obrigatório escrever o <strong>nome de todos os autores</strong> do trabalho final, no campo do formulário indicado, sob pena de não ser emitido o certificado para os nomes não
          discriminados. Não serão aceites modificações dos autores após submissão do resumo.
        </li>
        <li><span class="primary-text-color">6.</span> Não será permitida a submissão de qualquer resumo em cujos autores se incluam membros da Comissão Organizadora do GEMMeeting 2023.</li>
        <li>
          <span class="primary-text-color">7.</span> Nos campos do título, palavras-chave e resumo <strong>não</strong> poderão existir quaisquer dados que permitam a identificação dos autores ou do seu local de trabalho, sob pena de
          exclusão do trabalho.
        </li>
        <li><span class="primary-text-color">8.</span> O resumo deve ter um limite máximo de <strong>2500 caracteres</strong> (incluindo espaços).</li>
        <li><span class="primary-text-color">9.</span> Devem ser incluídas 2 a 5 palavras-chave.</li>
        <li>
          <span class="primary-text-color">10.</span> Deverá ser especificada a <strong>modalidade</strong> de apresentação pretendida (Comunicação Oral ou Póster), bem como a <strong>área temática</strong> em que o trabalho se enquadra.
          Não será permitido que o resumo do mesmo trabalho seja submetido simultaneamente para apresentação como Comunicação Oral e Póster.
        </li>
        <li>
          <span class="primary-text-color">11.</span> Cada autor poderá submeter <strong>até</strong> <strong>dois trabalhos, de diferentes tipologias, como primeiro autor</strong>, quer seja em formato de Póster ou Comunicação Oral. Caso o
          autor submeta mais do que um resumo da mesma tipologia, será validado o primeiro resumo submetido da mesma tipologia, excluindo-se os restantes.
        </li>
        <li>
          <span class="primary-text-color">12.</span> Consoante a temática escolhida, os autores deverão respeitar a seguinte estrutura:<br />
          <div style="margin-left: 15px"><strong>Investigação</strong> – Introdução e objetivo/s, Metodologia, Resultados e Discussão.<br /></div>
          <div style="margin-left: 15px"><strong>Revisão de Tema</strong> – Introdução e objetivo/s, Metodologia, Resultados e Discussão.<br /></div>
          <div style="margin-left: 15px"><strong>Relato de Caso</strong> – Enquadramento, Descrição de Caso e Discussão.<br /></div>
          <div style="margin-left: 15px"><strong>Melhoria Contínua da Qualidade</strong> – Justificação, Objetivo/s, Métodos, Resultados (mínimo duas avaliações) e Discussão.<br /></div>
          <div style="margin-left: 15px">
            <strong>Relato de Prática</strong> - Relatos de experiências da prática médica diária, não exclusiva nem obrigatoriamente relacionados com questões clínicas e/ou técnico-científicas, por exemplo relatos de boas práticas,
            atividades na comunidade, atividades e relações interpares e interprofissionais, relatos de intercâmbios ou estágios com particularidades que mereçam ser divulgadas. A estrutura de apresentação deverá ser: Enquadramento,
            Objetivo/s, Descrição, Discussão.
          </div>
          <div style="margin-left: 15px">
            <strong>Protocolos</strong> - Apresentação e discussão de protocolos de investigação ou melhoria contínua da qualidade, em fase de Projeto ou ainda não concluídos. A estrutura de apresentação deverá ser: Introdução, Objetivo/s,
            Métodos, e Discussão.
          </div>
        </li>
        <li>
          <span class="primary-text-color">13.</span> Os resumos dos trabalhos serão submetidos a uma seleção prévia pelo Júri, constituído por seis médicos especialistas em MGF, de acordo com os critérios estabelecidos pelo mesmo. O Júri
          não terá acesso aos dados presentes nos campos identificativos dos autores. Os candidatos serão sempre informados dos resultados (aceite ou não aceite) por via eletrónica.
        </li>
        <li>
          <span class="primary-text-color">14.</span> O Júri poderá recusar qualquer resumo que não se enquadre na área temática a que se propõe ou que não tenha pertinência/qualidade para apresentação. O Júri é soberano e as suas decisões
          não são passíveis de recurso.
        </li>
        <li><span class="primary-text-color">15.</span><strong> Qualquer resumo que não respeite as regras supracitadas será automaticamente recusado.</strong></li>
        <li><span class="primary-text-color">16.</span> Só serão aceites submissões de resumos até às 23h59 do dia 09/07/2023 (inclusive).</li>
        <li><span class="primary-text-color">17.</span> Os candidatos serão informados dos resultados por e-mail, até ao dia 21/08/2023 (inclusive).</li>
        <li>
          <span class="primary-text-color">18.</span> À Comissão Organizadora do GEMMeeting 2023 reserva-se o direito de publicar os resumos dos trabalhos aceites no Livro de Resumos e no website oficial do evento. Ao submeterem os seus
          resumos, os/as autores/as dão, assim, o seu consentimento para o efeito.
        </li>
        <li><span class="primary-text-color">19.</span> Em caso de dúvidas, as mesmas poderão ser remetidas para: <a class="link-style" href="mailto:gemmeetingtrabalhos@gmail.com">gemmeetingtrabalhos@gmail.com</a></li>
        <br />
      </ol>
    </div>
  </div>
</div>
<ol class="ae-8 fromBottom list-normas-submissao" style="margin-top: 40px">
  <li><fa-icon icon="circle" style="font-size: 6px; margin-right: 10px; vertical-align: middle" class="primary-text-color"></fa-icon><strong>DATAS IMPORTANTES:</strong></li>
  <li>
    <div style="margin-left: 18px"><strong>Início de submissão de resumos:</strong> <span style="color: rgb(122, 158, 194)"> 26/05/2023 às 21h00</span><br /></div>
    <div style="margin-left: 18px"><strong>Data-limite para submissão de resumos:</strong> <span style="color: rgb(122, 158, 194)"> 09/07/2023 até às 23h59</span><br /></div>
    <div style="margin-left: 18px"><strong>Comunicação dos resultados aos autores:</strong> <span style="color: rgb(122, 158, 194)"> 21/08/2023</span><br /></div>
  </li>
</ol>
<div style="width: 100%; margin: 20px 0px 10px 0px; display: flex; justify-content: center; align-items: center" class="ae-6 fromBottom">
  <div class="words-underlined">
    <div class="link-style">
      <h3 class="ae-7 fromBottom button-style" (click)="openSubmeterResumoLink()" style="cursor: pointer; font-weight: 600; font-size: 20px; margin: 0px !important">
        <fa-icon icon="file-lines" style="margin-right: 5px; font-size: 80%"></fa-icon>
        Submeter Resumo
      </h3>
    </div>
  </div>
</div>
